/*............................General...........................*/

*{
  box-sizing: border-box;
}

body{
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/*..........................All the Boxes...........................*/

.main-box{
  display: grid;
  grid-template-columns: repeat(4, 250px) ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  width: 1075px;
  margin: 20px auto 20px;
}

.box{
  padding: 10px 30px;
  border-radius: 10px;
  color: hsl(219, 29%, 34%);
  box-shadow: 0 2px 8px hsl(219, 29%, 34%);
}

.box:hover{
  box-shadow: 0 4px 8px hsl(219, 29%, 14%);
}

.box .heading{
  font-weight: 600;
  font-size: 19px;
  clear: both;
}

.box .text, .box >h4{
  color: hsl(0, 0%, 71%);
}

.box >h3, .box >h4{
  line-height: 0.4;
}

.purple, .grey, .black{
  color: hsl(0, 0%, 81%);
}

.grey .heading, .black .heading{
  color: hsl(0, 0%, 95%);
}

/*............................Profile Photo...........................*/

.profile-photo{
  border-radius: 50%;
  border: 2px solid;
  float: left;
  width: 40px;
  margin: 10px 10px 10px 0;
}
/*............................Purple...........................*/

.purple{
  background-color: hsl(263, 55%, 52%);
  grid-column:1 / span 2;
  grid-row: 1;
}

.purple .heading{
  color: hsl(0, 0%, 95%);
  position: relative;
  z-index: 1;
}

.quotation{
  position: absolute;
  padding-left: 330px;
}
/*............................Grey...........................*/

.grey{
background-color: hsl(217, 19%, 35%);
grid-column: 3 ;
box-shadow: 0 4px 8px hsl(0, 0%, 71%);
}

/*............................long White...........................*/

.long-white{
background-color: hsl(0, 0%, 100%);
grid-column: 4;
grid-row: 1 / span 2;

}

/*............................Short White...........................*/

.short-white{
background-color: hsl(0, 0%, 100%);
}

/*............................Black...........................*/

.black{
 background-color: hsl(219, 29%, 14%);
 grid-column: 2 / span 2 ;
}

/*........................Responsive Tablet (1089px).........................*/

@media (max-width: 1089px){
  .main-box{
    grid-template-columns: repeat(3, 250px) ;
    grid-template-rows: 1fr 1fr 1fr;
    width: 800px;
  }

  .purple{
    grid-column:1 / span 2;
    grid-row: 1;
  }

  .long-white{
  grid-column: 1/ span 3;
  grid-row: 3 ;
  }

  .grey{
  grid-column:1 ;
  grid-row: 2;
  }

}

/*........................Responsive Tablet (827px).........................*/

@media (max-width: 827px){
  .main-box{
    grid-template-columns: repeat(2, 250px) ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 525px;
  }

  .purple{
    grid-column:1 / span 2;
    grid-row: 1;
  }

  .long-white{
    grid-column: 1/ span 2;
    grid-row: 3;
  }

  .grey{
    grid-row: 2;
  }

  .short-white{
    grid-row: 2;
  }

  .black{
    grid-column: 1 / span 2;
    grid-row: 4;
  }

}

/*........................Responsive Mobile (546px).........................*/

@media (max-width: 546px){
  .main-box{
    grid-template-columns: 375px ;
    grid-template-rows: repeat(5, 1fr);
    width: 400px;
  }

  .quotation{
    padding-left: 190px;
  }

  .purple{
    grid-column:1 / 2;
    grid-row: 1;
  }

  .long-white{
    grid-column: 1/ 2;
    grid-row: 5;
  }

  .grey{
    grid-row: 3;
  }

  .short-white{
    grid-row: 2;
  }

  .black{
    grid-column: 1 / 2;
    grid-row: 4;
  }

}
